name: Ruby

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.0
        bundler-cache: true
    - name: Run linter code
      run: bundle exec rubocop --parallel
    - name: Run Type Checker
      run: bundle exec steep check --log-level=fatal
    - name: Run Test Suite
      run: bundle exec rspec spec
    - name: Run Type Stats
      run: bundle exec steep stats --log-level=fatal